main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #133840;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-intro {
    font-size: 16px;
    margin-bottom: 20px;
    color: #5F735A;
    background-color: #eaf2f3;
    padding: 15px;
    border-left: 5px solid #5F735A;
    border-radius: 5px;
}

.add-veterinarian-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    color: #133840;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.form-group label i {
    margin-right: 10px;
    color: #5F735A;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #5F735A;
    outline: none;
}

.submit-button {
    background-color: #5F735A;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0A2126;
}

.btn-secondary {
    background-color: #d3d3d3;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #a9a9a9;
}
