<div class="services-section">
    <h2>Servicios</h2>
    <p>En PetLand brindamos una gama completa de servicios veterinarios para tu mascota.</p>
  
    <div class="services-container">
      <div class="service-card">
        <i class="fas fa-stethoscope"></i>
        <h3>Consulta general</h3>
      </div>
      <div class="service-card">
        <i class="fas fa-utensils"></i>
        <h3>Consulta nutricional</h3>
      </div>
      <div class="service-card">
        <i class="fas fa-ambulance"></i>
        <h3>Urgencias Veterinarias 24/7</h3>
      </div>
      <div class="service-card">
        <i class="fas fa-cut"></i>
        <h3>Baño y Peluquería</h3>
      </div>
      <div class="service-card">
        <i class="fas fa-heartbeat"></i>
        <h3>Cardiología</h3>
      </div>
      <div class="service-card">
        <i class="fas fa-tooth"></i>
        <h3>Profilaxis</h3>
      </div>
      <div class="service-card">
        <i class="fas fa-feather-alt"></i>
        <h3>Esterilización</h3>
      </div>
      <div class="service-card">
        <i class="fas fa-vial"></i>
        <h3>Exámenes de laboratorio</h3>
      </div>
      <div class="service-card">
        <i class="fas fa-syringe"></i>
        <h3>Vacunación</h3>
      </div>
    </div>
  </div>
  