<br>
<br>
<br>
<br>
<div *ngIf="pet">
    <h2>Detalles de {{ pet.nombre }}</h2>
    <img [src]="pet.imageUrl" alt="Imagen de la Mascota" width="50">
    <p><strong>Id:</strong> {{ pet.id }}</p>
    <p><strong>Raza:</strong> {{ pet.raza }}</p>
    <p><strong>Edad:</strong> {{ pet.edad }} años</p>
    <p><strong>Peso:</strong> {{ pet.peso }} kg</p>
    <p><strong>Enfermedad:</strong> {{ pet.enfermedad }}</p>
    <p><strong>Estado:</strong> {{ pet.estado ? 'Activo' : 'Inactivo' }}</p>
  </div>
  
  <!-- Si no hay mascota seleccionada, muestra un mensaje opcional -->
  <div *ngIf="!pet">
    <p>No hay detalles de la mascota disponibles.</p>
  </div>
  