<br>
<br>
<br>
<br>
<app-admin-navbar></app-admin-navbar>
<main>
    <h1>Dashboard de Veterinaria</h1>

    <!-- KPIs en tarjetas -->
    <section class="dashboard-cards">
        <div class="card">
            <h3>Total de Tratamientos Último Mes</h3>
            <p class="card-value">{{ totalTratamientosUltimoMes }}</p>
        </div>
        <div class="card">
            <h3>Veterinarios Activos</h3>
            <p class="card-value">{{ veterinariosActivos }}</p>
        </div>
        <div class="card">
            <h3>Veterinarios Inactivos</h3>
            <p class="card-value">{{ veterinariosInactivos }}</p>
        </div>
        <div class="card">
            <h3>Mascotas Totales</h3>
            <p class="card-value">{{ totalMascotas }}</p>
        </div>
        <div class="card">
            <h3>Mascotas Activas</h3>
            <p class="card-value">{{ mascotasActivas }}</p>
        </div>
        <div class="card">
            <h3>Ventas Totales</h3>
            <p class="card-value">{{ ventasTotales | currency:'Col' }}</p>
        </div>
        <div class="card">
            <h3>Ganancias Totales</h3>
            <p class="card-value">{{ gananciasTotales | currency:'Col' }}</p>
        </div>
    </section>

    <!-- Tabla de tratamientos por medicamento -->
    <section>
      <h2>Tratamientos por Medicamento (Último Mes)</h2>
      <table>
          <thead>
              <tr>
                  <th>Medicamento</th>
                  <th>Cantidad</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let tratamiento of tratamientosPorMedicamento">
                  <td>{{ tratamiento.medicamento.nombre }}</td> <!-- Acceder al nombre del medicamento -->
                  <td>{{ tratamiento.cantidad }}</td>
              </tr>
          </tbody>  
      </table>
  </section>
  

    <!-- Top 3 tratamientos con más unidades vendidas -->
    <section>
        <h2>Top 3 Tratamientos con Más Unidades Vendidas</h2>
        <ul>
            <li *ngFor="let tratamiento of topTratamientos">
                <span class="treatment-name">{{ tratamiento.nombre }}</span> - <span class="treatment-quantity">{{ tratamiento.unidadesVendidas }} unidades</span>
            </li>
        </ul>
    </section>
</main>
