<div class="login-page d-flex align-items-center">
  <div class="row w-100">
    <!-- Login Form Section -->
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <div class="login-container mx-auto p-4">
        <h2 class="text-center">Iniciar Sesión</h2>
        <div class="welcome-message text-center mb-4">
          <h3>¡Bienvenido a PetLand!</h3>
          <p>Por favor, ingresa tu cédula para acceder a tu cuenta y cuidar de tus mascotas.</p>
        </div>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="cedula">Cédula:</label>
            <input type="text" id="cedula" [(ngModel)]="cedula" name="cedula" class="form-control" required />
          </div>
          <button type="submit" class="btn btn-login btn-block">Login</button>
        </form>

      </div>
    </div>

    <!-- Info Section -->
    <div class="col-md-8 d-flex align-items-center justify-content-center">
  
      <div class="info-container text-center p-4">
        <h2>¡Cuidado excepcional para tus mascotas!</h2>
        <p>Accede a tu cuenta para gestionar citas, seguimiento de salud, y más. Brindamos un servicio integral para asegurar el bienestar de tus mascotas.</p>
        <img src="images/cuidado.jpg" alt="Pet Care" class="info-image mb-4" />

        <h3>Beneficios de usar PetLand:</h3>
        <ul class="benefits-list">
          <li><i class="fas fa-calendar-check"></i> Reserva y gestiona tus citas fácilmente.</li>
          <li><i class="fas fa-heartbeat"></i> Seguimiento detallado de la salud de tu mascota.</li>
          <li><i class="fas fa-paw"></i> Consejos personalizados para el cuidado de tus mascotas.</li>
          <li><i class="fas fa-shield-alt"></i> Seguridad y privacidad garantizadas.</li>
        </ul>
        <h3>Testimonios:</h3>
        <blockquote class="blockquote">
          <p class="mb-0">"PetLand ha cambiado nuestra forma de cuidar a nuestros animales. ¡Muy recomendable!"</p>
          <br>
          <footer class="blockquote-footer">Juan Pérez, dueño de 2 perros.</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
