<section class="sedes" id="sedes">
    <h2>Nuestras Sedes</h2>
    <p>En PetLand, estamos trabajando para desarrollar la red de clínicas veterinarias más grande de Bogotá.</p>
    
    <ul class="accordion">
      <li>
        <img src="images/Acordion.jpg" alt="PetLand Norte">
        <div class="content">
          <h2>PetLand Norte</h2>
          <p>Calle 125 #45-67, Bogotá, Colombia</p>
        </div>
      </li>
      <li>
        <img src="images/Acordion2.jpg" alt="PetLand Centro">
        <div class="content">
          <h2>PetLand Centro</h2>
          <p>Carrera 7 #45-12, Bogotá, Colombia</p>
        </div>
      </li>
      <li>
        <img src="images/Acordion3.png" alt="PetLand Sur">
        <div class="content">
          <h2>PetLand Sur</h2>
          <p>Avenida Ciudad de Cali #80-50, Bogotá, Colombia</p>
        </div>
      </li>
      <li>
        <img src="/images/Acordion4.png" alt="PetLand Chapinero">
        <div class="content">
          <h2>PetLand Chapinero</h2>
          <p>Calle 63 #9-40, Bogotá, Colombia</p>
        </div>
      </li>
    </ul>
  </section>
  