<nav class="admin-navbar">
    <ul class="admin-nav-list">
        <li class="admin-nav-item">
            <a routerLink="/portal-admin">
                <i class="fas fa-user-shield"></i>
                Portal Administrador
            </a>
        </li>
        <li class="admin-nav-item">
            <a routerLink="/veterinarios">
                <i class="fas fa-user-md"></i>
                Lista de Veterinarios
            </a>
        </li>
        <li class="admin-nav-item">
            <a routerLink="/admin-dashboard">
                <i class="fas fa-chart-line"></i>
                Dashboard
            </a>
        </li>
    </ul>
</nav>
