/* Asegura que el navbar esté alineado correctamente */
.navbar {
  background-color: #c2c2a3;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alineación vertical */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Asegura que el contenido ocupe todo el ancho */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 15px;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-center {
  margin-top: 20px;
  display: flex;
  list-style: none;
  margin-left: -50px; 
}

.navbar-center li {
  margin-left: 20px;
}

.navbar-center a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

.navbar-right {
  display: flex;
  align-items: center; /* Alineación vertical correcta */
  gap: 15px; /* Espacio entre los botones */
}

.btn {
  border: 2px solid green;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: darkgreen;
}
