<br>
<br>
<br>
<br>
<app-veterinarian-navbar></app-veterinarian-navbar>
<main>
    <h1>Asignar Tratamiento</h1>
    <form (ngSubmit)="onSubmit()" class="treatment-form">
      <div class="form-group">
        <label for="pet">Seleccionar Mascota:</label>
        <select id="pet" [(ngModel)]="tratamiento.mascota" name="pet" required>
          <option *ngFor="let pet of pets" [ngValue]="pet">{{ pet.nombre }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="medicamento">Seleccionar Medicamento:</label>
        <select id="medicamento" [(ngModel)]="tratamiento.medicamento" name="medicamento" required>
          <option *ngFor="let medicamento of medicamentos" [ngValue]="medicamento">
            {{ medicamento.nombre }} (Disponible: {{ medicamento.unidadesDisponibles }})
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" [(ngModel)]="tratamiento.cantidad" name="cantidad" required>
      </div>
  
      <button type="submit" class="btn-submit">Asignar Tratamiento</button>
    </form>
    <button (click)="goBack()" class="btn-back">Volver</button> <!-- Botón para regresar -->
  </main>
  