html {
    scroll-behavior: smooth;
  }
  
  .flex-column{
    display: flex;
    flex-direction: column;
  }

  .flex-row{
    display: flex;
    flex-direction: row;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mg-10{
    margin: 10px;
  }

  .mg-05{
    margin: 5px;
  }
  .mg-02{
    margin: 2px;
  }
  .mg-top{
    margin-top: 20px; 
  }

  .center{
    align-self: center;
    align-items: center;
    align-content: center;
  }

  router-outlet + * {
    margin-top: 20px; /* Ajusta el valor según lo necesites */
  }

  main {
    padding-top: 60px; /* Para mayor separación desde el navbar */
  }
