<h2>{{ isEditMode ? 'Editar' : 'Agregar' }} Mascota</h2>

<form (ngSubmit)="savePet()">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="pet.nombre" name="nombre" required>
  </div>

  <div class="form-group">
    <label for="raza">Raza:</label>
    <input type="text" id="raza" [(ngModel)]="pet.raza" name="raza" required>
  </div>

  <div class="form-group">
    <label for="edad">Edad:</label>
    <input type="number" id="edad" [(ngModel)]="pet.edad" name="edad" required>
  </div>

  <div class="form-group">
    <label for="peso">Peso:</label>
    <input type="number" id="peso" [(ngModel)]="pet.peso" name="peso" required>
  </div>

  <div class="form-group">
    <label for="imageUrl">Imagen (URL):</label>
    <input type="text" id="imageUrl" [(ngModel)]="pet.imageUrl" name="imageUrl">
  </div>

  <div class="form-group">
    <label for="enfermedad">Enfermedad:</label>
    <input type="text" id="enfermedad" [(ngModel)]="pet.enfermedad" name="enfermedad">
  </div>

  <div class="form-group">
    <label for="estado">Estado:</label>
    <input type="checkbox" id="estado" [(ngModel)]="pet.estado" name="estado">
  </div>

  <button type="submit">{{ isEditMode ? 'Actualizar' : 'Guardar' }}</button>
</form>
