<br>
<br>
<br>
<br>
<app-veterinarian-navbar></app-veterinarian-navbar>
<main>
    <h1>Editar Dueño</h1>
    <p class="form-intro">
        Antes de actualizar los datos del dueño, por favor, asegúrate de revisar cada campo con atención. Asegúrate de que la información esté correcta y actualizada para proporcionar el mejor servicio posible.
    </p>
    
    <!-- Formulario de edición de dueño -->
  <form (ngSubmit)="onSubmit()" class="owner-edit-form">
    <div class="form-group">
      <label for="nombre">
          <i class="fas fa-user"></i> Nombre:
      </label>
      <input type="text" id="nombre" [(ngModel)]="owner.nombre" name="nombre" required class="form-control">
  </div>
  <div class="form-group">
      <label for="cedula">
          <i class="fas fa-id-card"></i> Cédula:
      </label>
      <input type="text" id="cedula" [(ngModel)]="owner.cedula" name="cedula" required class="form-control">
  </div>
  <div class="form-group">
      <label for="correo">
          <i class="fas fa-envelope"></i> Correo:
      </label>
      <input type="email" id="correo" [(ngModel)]="owner.correo" name="correo" required class="form-control">
  </div>
  <div class="form-group">
      <label for="celular">
          <i class="fas fa-phone"></i> Teléfono:
      </label>
      <input type="tel" id="celular" [(ngModel)]="owner.celular" name="celular" required class="form-control">
  </div>
  
  <!-- Botón de Actualizar Datos -->
  <button type="submit" class="butons">Actualizar Datos</button>
  </form>

    <!-- Botón de Volver -->
    <div style="text-align: center; margin-top: 20px;">
        <button class="btn btn-secondary" (click)="goBack()">Volver</button>
    </div>
</main>
