<br>
<br>
<br>
<br>
<app-veterinarian-navbar></app-veterinarian-navbar>
<main>
    <section class="tips-section">
      <h2>Consejos antes de actualizar los datos</h2>
      <ul>
        <li>Verifica que toda la información ingresada sea correcta y esté actualizada.</li>
        <li>Revisa los campos obligatorios antes de guardar los cambios.</li>
        <li>Si cambias tu número de teléfono, asegúrate de que sea el correcto para futuras comunicaciones.</li>
        <li>Actualiza tu correo electrónico si es necesario para mantenerte informado sobre notificaciones importantes.</li>
        <li>Guarda los cambios regularmente para evitar perder información.</li>
      </ul>
    </section>
  
    <section>
      <h1>Editar datos del dueño</h1>
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="nombre"><i class="fas fa-user"></i> Nombre:</label>
          <input type="text" id="nombre" [(ngModel)]="owner.nombre" name="nombre" required />
        </div>
        <div class="form-group">
          <label for="cedula"><i class="fas fa-id-card"></i> Cédula:</label>
          <input type="text" id="cedula" [(ngModel)]="owner.cedula" name="cedula" required />
        </div>
        <div class="form-group">
          <label for="correo"><i class="fas fa-envelope"></i> Correo:</label>
          <input type="email" id="correo" [(ngModel)]="owner.correo" name="correo" required />
        </div>
        <div class="form-group">
          <label for="celular"><i class="fas fa-phone"></i> Teléfono:</label>
          <input type="text" id="celular" [(ngModel)]="owner.celular" name="celular" required />
        </div>
        <button type="submit" class="btn submit-button"><i class="fas fa-save"></i> Actualizar</button>
      </form>
    </section>
  
    <!-- Botón de Volver -->
    <section>
      <button class="btn boton" (click)="goBack()">Volver</button>
    </section>
  </main>
  