<br>
<br>
<br>
<br>
<app-veterinarian-navbar></app-veterinarian-navbar>
<main>
    <section class="welcome-section">
        <h2>Tu Portal Personalizado</h2>
        <p>Gestiona de manera eficiente todas las actividades veterinarias desde un único lugar. Este portal te permitirá acceder rápidamente a la información sobre los propietarios, mascotas, y tratamientos que se están llevando a cabo en la clínica.</p>
    </section>

    <section class="features-section">
        <h2>Funciones Principales</h2>
        <div class="feature">
            <img src="images\dueños.png" alt="Propietarios" class="feature-icon">
            <h3>Gestión de Propietarios</h3>
            <p>Accede a la información de todos los propietarios registrados en el sistema, y mantén un registro actualizado de cada uno de ellos.</p>
        </div>
        <div class="feature">
            <img src="images\mascotas.png" alt="Mascotas" class="feature-icon">
            <h3>Gestión de Mascotas</h3>
            <p>Consulta las mascotas activas e inactivas, y administra sus historiales médicos y tratamientos de forma sencilla.</p>
        </div>
        <div class="feature">
            <img src="images\medicamentos.png" alt="Tratamientos" class="feature-icon">
            <h3>Tratamientos y Medicación</h3>
            <p>Supervisa los tratamientos en curso, administra los medicamentos y garantiza el bienestar de todas las mascotas.</p>
        </div>
    </section>
</main>
