<h2>Lista de Mascotas</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Raza</th>
      <th>Edad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pet of pets">
      <td>{{ pet.nombre }}</td>
      <td>{{ pet.raza }}</td>
      <td>{{ pet.edad }} años</td>
      <td>
        <button class="btn btn-success" (click)="showDetails(pet)">Detalles</button>
        <button class="btn btn-primary" (click)="editPet(pet)">Editar</button>
        <button class="btn btn-danger" (click)="deletePet(pet.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Botón para mostrar/ocultar el formulario de agregar o editar mascota -->
<button class="btn btn-primary" (click)="toggleAddForm()">Agregar Mascota</button>

<!-- Mostrar el formulario si isAddFormVisible es verdadero -->
<div *ngIf="isAddFormVisible">
  <!-- Pasar la mascota seleccionada o una nueva, y el modo de edición -->
  <app-form [pet]="selectedPet || getDefaultPet()" [isEditMode]="isEditMode"></app-form>
</div>

<!-- Mostrar los detalles de la mascota si selectedPet no es null -->
<div *ngIf="selectedPet && !isAddFormVisible">
  <app-detail [pet]="selectedPet"></app-detail>
</div>
