
<h2>Lista de Mascotas</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Raza</th>
      <th>Edad</th>
      <th>Imagen</th>
      <th>Años</th>
      <th>Peso</th>
      <th>Enfermedad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pet of pets">
        <td>{{ pet.id }}</td>
        <td>{{ pet.nombre }}</td>
        <td>{{ pet.raza }}</td>
        <td><img [src]="pet.imageUrl" alt="Imagen de la Mascota" width="50"></td>
        <td>{{ pet.edad }} años</td>
        <td>{{ pet.peso }} kg</td>
        <td>{{ pet.enfermedad }}</td>
      <td>
        <button class="btn btn-success" [routerLink]="['/mascotas', pet.id]">Detalles</button>
        <button class="btn btn-primary" [routerLink]="['/mascotas', pet.id, 'editar']">Editar</button>
        <button class="btn btn-danger" (click)="deletePet(pet.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Botón para redirigir al formulario de agregar mascota -->
<button class="btn btn-primary" [routerLink]="['/mascotas/agregar']">Agregar Mascota</button>
<br>
<br>
<br>
