main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-section {
    text-align: center;
    margin-bottom: 40px;
}

.welcome-section h2 {
    font-size: 28px;
    color: #133840;
    border-bottom: 3px solid #5F735A;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 18px;
    color: #5F735A;
    margin: 0 auto;
    max-width: 800px;
}

.features-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.feature {
    text-align: center;
    width: 45%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: scale(1.05);
}

.feature-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 22px;
    color: #133840;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.feature-button {
    background-color: #5F735A;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feature-button:hover {
    background-color: #133840;
}

.feature-icon {
    font-size: 50px;  /* Tamaño del ícono */
    color: #5F735A;  /* Color del ícono */
    margin-bottom: 15px;  /* Espacio debajo del ícono */
}
