<nav class="veterinarian-navbar">
    <ul class="veterinarian-nav-list">
      <li class="veterinarian-nav-item">
        <a routerLink="/owner-list">
          <i class="fas fa-users"></i>
          Propietarios
        </a>
      </li>
      <li class="veterinarian-nav-item">
        <a routerLink="/pet-list">
          <i class="fas fa-paw"></i>
          Mascotas
        </a>
      </li>
      <li class="veterinarian-nav-item">
        <a routerLink="/active-pets">
          <i class="fa-solid fa-shield-dog"></i>
          Mascotas activas
        </a>
      </li>
      <li class="veterinarian-nav-item">
        <a routerLink="/inactive-pets">
          <i class="fa-solid fa-dog"></i>
          Mascotas inactivas
        </a>
      </li>
      <li class="veterinarian-nav-item">
        <a routerLink="/veterinario/tratamientos">
          <i class="fas fa-pills"></i>
          Tratamientos
        </a>
      </li>
    </ul>
  </nav>
  