<nav class="veterinarian-navbar">
    <ul class="veterinarian-nav-list">
      <li class="veterinarian-nav-item">
        <a routerLink="/portal-veterinario">
          <i class="fa fa-universal-access"></i>
          Portal Veterinario
        </a>
      </li>
      <li class="veterinarian-nav-item" id="btnClientes">
        <a routerLink="/owners">
          <i class="fas fa-users"></i>
          Propietarios
        </a>
      </li>
      <li class="veterinarian-nav-item" id="btnMascota">
        <a routerLink="/pets">
          <i class="fas fa-paw"></i>
          Mascotas
        </a>
      </li>
      <li class="veterinarian-nav-item">
        <a routerLink="/pets-activas">
          <i class="fa-solid fa-shield-dog"></i>
          Mascotas activas
        </a>
      </li>
      <li class="veterinarian-nav-item">
        <a routerLink="/pets-inactivas">
          <i class="fa-solid fa-dog"></i>
          Mascotas inactivas
        </a>
      </li>
      <li class="veterinarian-nav-item" id="btnTratamientos">
        <a routerLink="/veterinario-tratamiento">
          <i class="fas fa-pills"></i>
          Dar Tratamientos
        </a>
      </li>
      <li class="veterinarian-nav-item">
        <a routerLink="/veterinario-mascotas-tratadas">
          <i class="fa-solid fa-hospital-user"></i>
          Historial Tratamientos
        </a>
      </li>
    </ul>
  </nav>
  